<link rel="stylesheet" href="{{ themePath }}/antd.css">
<link rel="stylesheet" href="{{ themePath }}/antd-theme.css">

<span class="ant-calendar-picker">
    <div>
        <label><slot name="label"></slot><slot></slot></label>
        <input class="ant-calendar-picker-input ant-input" value="">
    </div>
</span>

<div class="ant-calendar-picker-container ant-calendar-picker-container-placement-bottomLeft">
    <div class="ant-calendar" tabindex="0">
        <div class="ant-calendar-panel">
            <div class="ant-calendar-input-wrap">
                <div class="ant-calendar-date-input-wrap ant-input-affix-wrapper">
                    <input class="ant-calendar-input" placeholder="Select date" />
                    <span class="ant-input-suffix ant-input-clear">x</span>
                </div>
                <a role="button" title="Clear"><span class="ant-calendar-clear-btn"></span></a>
            </div>
            <div tabindex="0" class="ant-calendar-date-panel">
                <div class="ant-calendar-header">
                    <div style="position: relative;">
                        <a class="ant-calendar-prev-year-btn" role="button" title="Last year (Control + left)"></a>
                        <a class="ant-calendar-prev-month-btn" role="button" title="Previous month (PageUp)"></a>
                        <span class="ant-calendar-my-select">
                            <a class="ant-calendar-month-select" role="button" title="Choose a month">Dec</a>
                            <a class="ant-calendar-year-select" role="button" title="Choose a year">2019</a>
                        </span>
                        <a class="ant-calendar-next-month-btn" role="button" title="Next month (PageDown)"></a>
                        <a class="ant-calendar-next-year-btn" role="button" title="Next year (Control + right)"></a>
                    </div>
                </div>
                <div class="ant-calendar-body">
                    <table class="ant-calendar-table" cellspacing="0" role="grid">
                        <thead>
                        </thead>
                        <tbody class="ant-calendar-tbody">
                        </tbody>
                    </table>
                </div>
                <div class="ant-calendar-footer">
                    <span class="ant-calendar-footer-btn">
                        <a class="ant-calendar-today-btn " role="button" title="December 23, 2019">Today</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>